<%= form_for @group, class: "col s12" do |f| %>
    <div class="row">
        <div class="input-field col s12">
            <%= f.label :name %>
            <%= f.text_field :name, class: "validate", required: true %>
        </div>
    </div>


    <div class="row">
        <div class="switch col s12">
            <label>
                Private
                <%= f.check_box :public %>
                <span class="lever"></span>
                Public
            </label>
        </div>
    </div>

    <div class="row">
        <%= f.submit btn_name, class: "btn col s2" %>
    </div>

<% end %>