<!-- Background image -->
<%= image_tag "background.png", style: "z-index: -1; position:fixed; opacity: 0.9; width: 100vw; height: 100vh;" %>

<!-- Main Content -->

<div class="container">
    <!-- User's Created Groups -->
    <div class="row">

        <h3 class="col s12">Owned Groups <%= link_to "Create Group", new_group_path, class: "btn-small" %></h3> 

        <div class="col s12">
            <div class="row">
                <% current_user.owned_groups.each do |g| %>
                    <%= render partial: "group_card", locals: {g: g} %>
                <% end %>
            </div>

        </div>
    </div>

    <!-- User's Joined Groups -->

    <div class="row">

        <h3 class="col s12">Joined Groups <%= link_to "Browse Groups", groups_path, class: "btn-small" %></h3> 

        <div class="col s12">
            <div class="row">
                <% current_user.groups_joined_not_owned.each do |g| %>
                    <%= render partial: "group_card", locals: {g: g} %>
                <% end %>
            </div>
        </div>

    </div>

</div>