<!-- Background image -->
<%= image_tag "background.png", style: "z-index: -1; position:fixed; opacity: 0.9; width: 100vw; height: 100vh;" %>

<!-- Main Content -->
<div class="container">

  <!-- Nav back link -->
  <div class="row">
    <div class="col s12">
      <%= link_to content_tag(:i, "arrow_left", class: "tiny material-icons")+ "Back to group", current_group, class: "valign-wrapper" %>
    </div>
  </div>

    <div class="row">
        <h3 class="col s12">Members
            <% if admin_of(current_group) %>
                <%= link_to "Edit Members", edit_members_group_path(current_group), class: "btn-small" %>
                <%= link_to "Edit Admins", admins_group_path(current_group), class: "btn-small" %>
            <% end %>
        </h3>
    </div>

    <div class="row">

        <% current_group_members.each do |m| %>
            <%= render partial: "member_card", locals: {m: m} %>
        <% end %>

    </div>

</div>