<h1>Edit Profile</h1>

<%= form_for @user_profile do |f| %>
    <div>
        <%= f.label :display_name, "Change your display name" %>
        <%= f.text_field :display_name %>
    </div>

    <div>
        <%= f.submit "Save" %>
    </div>
<% end %>

<div>
    <%= button_to "Delete Your Account", @user_profile, method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %>
</div>