<!-- Background image -->
<%= image_tag "background.png", style: "z-index: -1; position:fixed; opacity: 0.9; width: 100vw; height: 100vh;" %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Profile Image -->
        <div class="col s3 valign-wrapper" style="margin-top: 10px;">
            <%= image_tag @user_profile.image, class: "circle", width: "80%", height: "80%" %>
        </div>
        <!-- Display Name -->
        <div class="col s9">
            <h1><%= @user_profile.display_name %></h1>
            <% if viewing_current_user %>
                <%= link_to "Edit Profile", edit_user_path(@user_profile), class: "btn-small" %>
                <%= link_to "Logout", logout_path, method: :post, class: "btn-small red white-text" %>
            <% end %>
        </div>
    </div>

    <div class="divider"></div>

    <!-- Owned Groups -->
    <div class="row">
        <div class="col s12">
            <div class="row">
                <h3 class="col s12">Owned Groups</h3>
            </div>
            
            
            <div class="row">
                <% @user_profile.owned_groups_public_only.each do |g| %>
                    <div class="card col s5" style="margin: 10px;">
                        <a href="<%= group_path(g) %>">
                            <div class="card-content black-text">
                                <span class="card-title"><%= g.name %></span>
                                <p><%= pluralize(g.members_count, "Member") %><p>
                            </div>
                        </a>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

</div>